
<header id="header" class="header">


    <div class="header-title">
        <h1> <span class="title-slogan">轩辕小筑</span> <span class="title-name">savy</span> </h1>
    </div>
    <hr class="line" />
    <div id="navigation-div" class="navigation-div">
        <ul class="navigation-ul">
            <li id="menu-item-0" class="menu-item"><a href="../index.html">首页</a></li>
            <li id="menu-item-1" class="menu-item"><a href="../view/selfIntroduction.html">个人简介</a></li>
            <li id="menu-item-2" class="menu-item"><a href="#">项目展示</a>
                <ul class="menu-sub">
                    <li id="menu-sub-item-2-0" class="menu-sub-item"><a href="#">企业项目</a></li>
                    <li id="menu-sub-item-2-1" class="menu-sub-item"><a href="#">个人项目</a></li>
                </ul>
            </li>
            <li id="menu-item-3" class="menu-item"><a href="#">技术博客</a>
                <ul class="menu-sub">
                    <li id="menu-sub-item-3-0" class="menu-sub-item"><a href="#">Java</a></li>
                    <li id="menu-sub-item-3-1" class="menu-sub-item"><a href="#">C</a></li>
                    <li id="menu-sub-item-3-2" class="menu-sub-item"><a href="#">Sql</a></li>
                    <li id="menu-sub-item-3-3" class="menu-sub-item"><a href="#">Big Data</a></li>
                    <li id="menu-sub-item-3-4" class="menu-sub-item"><a href="#">Android/IOS</a></li>
                    <li id="menu-sub-item-3-5" class="menu-sub-item"><a href="#">Web</a></li>
                    <li id="menu-sub-item-3-6" class="menu-sub-item"><a href="#">Arithmetic</a></li>
                    <li id="menu-sub-item-3-7" class="menu-sub-item"><a href="#">Other</a></li>
                </ul>
            </li>
            <li id="menu-item-4" class="menu-item"><a href="#">技术字典</a>
                <ul class="menu-sub">
                    <li id="menu-sub-item-4-0" class="menu-sub-item"><a href="#">Java</a></li>
                    <li id="menu-sub-item-4-1" class="menu-sub-item"><a href="#">C</a></li>
                    <li id="menu-sub-item-4-2" class="menu-sub-item"><a href="#">Sql</a></li>
                    <li id="menu-sub-item-4-3" class="menu-sub-item"><a href="#">Big Data</a></li>
                    <li id="menu-sub-item-4-4" class="menu-sub-item"><a href="#">Android/IOS</a></li>
                    <li id="menu-sub-item-4-5" class="menu-sub-item"><a href="#">Web</a></li>
                    <li id="menu-sub-item-4-6" class="menu-sub-item"><a href="#">Arithmetic</a></li>
                    <li id="menu-sub-item-4-7" class="menu-sub-item"><a href="#">Other</a></li>
                </ul>
            </li>
            <li id="menu-item-5" class="menu-item"><a href="../view/pastEvent.html">历史事件</a></li>
            <li id="menu-item-6" class="menu-item"><a href="#">生活记录</a></li>
            <li id="menu-item-7" class="menu-item"><a href="#">下载专区</a></li>
            <li id="menu-item-8" class="menu-item"><a href="#">程序员趣事</a></li>
            <li id="menu-item-9" class="menu-item"><a href="../view/messageBoard.html">给我留言</a></li>
            <li id="menu-item-10" class="menu-item"><a href="../view/test.html">赞助作者</a></li>
        </ul>
    </div>
</header>
