<!DOCTYPE HTML>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
 <link rel="stylesheet"  href="../css/banner.css" type="text/css" media="all" />
 <link rel="stylesheet"  href="../css/common.css" type="text/css" media="all" />
 <link rel="stylesheet"  href="../css/head.css" type="text/css" media="all" />
 <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
 <script type="text/javascript" src="../js/banner.js"></script>
		<link rel="stylesheet"  href="../css/selfIntroduction.css" type="text/css" media="all" />
<script type="text/javascript" src="../js/common.js"></script>           <!-- 公共逻辑 -->
</head>
<body>
<div style=" width: 100%;height: 100vh;flex-direction: column;">
 <div id="head">
   <script>
       $("#head").load("../view/head.html");
   </script>
   </div>
   <div style="width: 100%; height: 70px;"></div>
<div class="container">
 <div style="text-indent:0px;text-align:center">

<h2 style="text-align: center;">个人简介</h2>
<p><img src="../images/user-head.jpg" style="border-radius:50%;width:100px" /></p>
<p style="text-align: center;font-size:16px">savy</p>
<p style="text-align: center;">本人对软件编程较为热爱，善于学习新的技术、好的技术，对基础的算法和原理也较为重视，拥有自己的技术博客以进行平时的技术总结。</p>
<p style="text-align: center;">数学逻辑和分析能力强，编程思路清晰，遇到技术难题能够认清解决方向逐步发现问题。</p>
 
<p style="text-align: center;">
<p><!--end personal --></p>
<h2 style="text-align: center;margin-top:40px;margin-bottom:40px;">我的技能树</h2>
<p><!--金色golden 90-100，红色red 80-89，紫色purple 70-79，蓝色blue 60-69，绿色green 50-59，粉红pink 0-49--></p>
<section class="tech">
<div class = "item">
<div class = "describe">
            Java
        </div>
<div class="progress">
          <span class="golden" style="width: 90%;"><span>90%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            C/C++
        </div>
<div class="progress">
          <span class="green" style="width: 51%;"><span>51%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            Object-C
        </div>
<div class="progress">
          <span class="purple" style="width: 71%;"><span>71%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            Swift
        </div>
<div class="progress">
          <span class="purple" style="width: 70%;"><span>70%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            MySQL/Oracle
        </div>
<div class="progress">
          <span class = "red" style="width: 80%;"><span>80%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            Android
        </div>
<div class="progress">
          <span class="red" style="width: 85%;"><span>85%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            IOS
        </div>
<div class="progress">
          <span class="red" style="width: 81%;"><span>81%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            Linux
        </div>
<div class="progress">
          <span class="blue" style="width: 65%;"><span>65%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            Hadoop
        </div>
<div class="progress">
          <span class="pink" style="width: 21%;"><span>21%</span></span>
        </div>
</p></div>
<div class = "item">
<div class = "describe">
            Spark
        </div>
<div class="progress">
          <span class="green" style="width: 41%;"><span>41%</span></span>
        </div>
</p></div>

</section>
<p><!-- end tech --></p>
<p style="text-align: center;">

 
    
</div>
 </div>

 <script type="text/javascript">
 getHeadMenuItem();//获取顶部菜单数据
 </script>
</body>
</html>