<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

	<link media="all" rel="stylesheet" type="text/css" href="../../css/admin/contentEdit.css" />
    <script type="text/javascript" src="../../js/common.js"></script>

	<!-- 富文本编辑器simditor组件，开始-->
	<link media="all" rel="stylesheet" type="text/css" href="../../module/simditor/styles/font-awesome.css" />
    <link media="all" rel="stylesheet" type="text/css" href="../../module/simditor/styles/simditor.css" />
    <script type="text/javascript" src="../../module/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../module/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="../../module/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="../../module/simditor/scripts/simditor.js"></script>
	<!-- 富文本编辑器simditor组件，结束-->

      </head>
 <body>
			<div class="wrapper">


				<div class="title-box">
					<input id="title" type="text"  maxlength="100" placeholder="输入文章标题">
					<span class="max-length"><span class="max-length-change">0</span>/100</span>
				</div>


				<div class="form-group row form-control-sm d-flex">
					<label class="labTitle col-form-label">文章类型：</label>
					<div class="txt-box">
						<select id="selectType" class="mySelect">
							<option value="0">请选择</option>
						</select>
						<span class="required">*</span>
					</div>
					<label class="labTitle col-form-label ml-24">博客分类：</label>
					<div class="txt-box">
						<select id="selectClass" class="mySelect">
							<option value="0">选择分类</option>
						</select>
						<span class="required">*</span>
					</div>
				</div>

				<br />
				<textarea id="editor" name="content" autofocus></textarea>
				<br />

				<br />



				<div class="txt-box">
					<input id="btnPublish" type="button" class="btn btn-outline-danger" value="发布" title="发布" onclick="submit()">

					<input id="btnCancel" type="button" class="btn btn-outline-secondary ml-24 btn-shanchu" title="返回列表页" value="返回">
				</div>
			</div>
  </body>
  <script type="text/javascript">
  	$(function(){
  		toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
					'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',
					'link', 'image', 'hr', '|', 'indent', 'outdent' ];
		var editor = new Simditor( {
			textarea : $('#editor'),
			placeholder : '这里输入内容...',
			toolbar : toolbar,  //工具栏
			//defaultImage : '../../images/imgs.png', //编辑器插入图片时使用的默认图片
			upload : {
				url : '/file/upload', //文件上传的接口地址
			    params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
			    fileKey: 'fileDataFileName', //服务器端获取文件数据的参数名
			    connectionCount: 3,
			    leaveConfirm: '正在上传文件'
			}
		});
  	})

	//提交内容
	  function submit(){
		var title = $('#title').val();
		var editor = $('#editor').val();
		var selectType = $('#selectType').val();
		var selectClass = $('#selectClass').val();
          var userId =  getUserId();

             if(userId == null || userId == undefined || userId == ''){
                         window.location.href="login.html";
                  }

		console.log(title);
        console.log(editor);
        console.log(selectType == null);
        if(selectType == null || selectType == undefined || selectType == ''){
                alert("请选择类型");
        }

        if(selectClass == null || selectClass == undefined || selectClass == ''){
                  alert("请选择分类");
         }


var jsonObject = '{';
	jsonObject+='"title":"'+title+'"';
	jsonObject+=',"content":"'+editor+'"';
	jsonObject+=',"contentTypeId":'+selectType
	jsonObject+=',"contentClassId":'+selectClass
	jsonObject+=',"userId":'+userId;
	jsonObject+='}'
	console.log(jsonObject);

	$.ajax({
        type: "POST",
        url:  serverUrl+"content/add",
        contentType: "application/json",
		data : jsonObject,
        success: function (data) {
			console.log("call content/add");
			console.log(data);
	 		if(data.status==200){	//调用成功
			 console.log("调用成功！");
			 alert("发布成功！");
			 //window.location.href='typeList.html';
			}else{
				console.log(data.message);
			}
        },
        error: function (e) {
			console.log(e);
            console.log("接口调用失败，请重试！");
        }
    });

	  }
  </script>
</html>
