<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

	<link media="all" rel="stylesheet" type="text/css" href="../../css/admin/contentEdit.css" />
    <script type="text/javascript" src="../../js/common.js"></script>

	<!-- 富文本编辑器simditor组件，开始-->
	<link media="all" rel="stylesheet" type="text/css" href="../../module/simditor/styles/font-awesome.css" />
    <link media="all" rel="stylesheet" type="text/css" href="../../module/simditor/styles/simditor.css" />
    <script type="text/javascript" src="../../module/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../module/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="../../module/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="../../module/simditor/scripts/simditor.js"></script>
	<!-- 富文本编辑器simditor组件，结束-->


	<script type="text/javascript">
        //获取url传入参数
        var  contentId= getUrlParams("contentId");
        console.log("contentId="+contentId);

	</script>
      </head>
 <body>
			<div class="wrapper">


				<div class="title-box">
					<input id="title" type="text"  maxlength="100" placeholder="输入文章标题">
					<span class="max-length"><span class="max-length-change">0</span>/100</span>
				</div>


				<div class="form-group row form-control-sm d-flex">
					<label class="labTitle col-form-label">文章类型：</label>
					<div class="txt-box">
                                <select id="selectType" class="mySelect" onchange="changeContentTyepe(this.options[this.options.selectedIndex].value)">
							<option value="-1">请选择</option>
						</select>
						<span class="required">*</span>
					</div>
					<label class="labTitle col-form-label ml-24">博客分类：</label>
					<div class="txt-box">
						<select id="selectClass" class="mySelect">
							<option value="-1">请选择</option>
						</select>
						<span class="required">*</span>
					</div>
				</div>

				<br />
				<textarea id="editor" name="content" autofocus></textarea>
				<br />

				<br />



				<div class="txt-box">
					<input id="btnPublish" type="button" class="btn btn-outline-danger" value="发布" title="发布" onclick="submit()">

					<input id="btnCancel" type="button" class="btn btn-outline-secondary ml-24 btn-shanchu" title="返回列表页" value="返回">
				</div>
			</div>
  </body>
  <script type="text/javascript">
      var editor;
  	$(function(){
  		toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
					'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',
					'link', 'image', 'hr', '|', 'indent', 'outdent' ];
		editor = new Simditor( {
			textarea : $('#editor'),
			placeholder : '这里输入内容...',
			toolbar : toolbar,  //工具栏
			defaultImage : '../../images/default_image.png', //编辑器插入图片时使用的默认图片
			upload : {
				url : serverUrl+'/file/upload', //文件上传的接口地址
			    params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
			    fileKey: 'fileDataFileName', //服务器端获取文件数据的参数名
			    connectionCount: 3,
			    leaveConfirm: '正在上传文件'
			}
		});
  	});


//获取类别和分类选项列表
    $.ajax({
        type: "GET",
        url:  serverUrl+"/content/getType",
        contentType: "application/json",
        success: function (data) {
            console.log("call content/getType");
            console.log(data);
            if(data.status==200){	//调用成功
                console.log("调用成功！");
                console.log("接口数据长度："+data.data.length);
                var html = "";
                html += '<option value="-1">请选择</option>';
                for(var i = 0,len = data.data.length; i < len; i++){
                    console.log(data.data[i]);
                    var item = data.data[i];
                    html += '<option value="'+item.contentTypeId+'">'+item.contentTypeName+'</option>';
                }
                document.getElementById("selectType").innerHTML = html;
                if(contentId != null && contentId != undefined && contentId != '') {//修改模式
                    getContentDetail();
                }
            }else{
                console.log(data.message);
            }
        },
        error: function (e) {
            console.log(e);
            console.log("接口调用失败，请重试！");
        }
    });

  	//类别选择改变，重新获取分类列表
  	function changeContentTyepe(itemId){
  	    // alert(itemId);
        $.ajax({
            type: "GET",
            url:  serverUrl+"/content/getClass?contentTypeId="+itemId,
            contentType: "application/json",
            success: function (data) {
                console.log("call content/getClass");
                console.log(data);
                if(data.status==200){	//调用成功
                    console.log("调用成功！");
                    console.log("接口数据长度："+data.data.length);
                    var html = "";
                    html += '<option value="-1">请选择</option>';
                    for(var i = 0,len = data.data.length; i < len; i++){
                        console.log(data.data[i]);
                        var item = data.data[i];
                        html += '<option value="'+item.contentClassId+'">'+item.contentClassName+'</option>';
                    }
                    document.getElementById("selectClass").innerHTML = html;

                }else{
                    console.log(data.message);
                }
            },
            error: function (e) {
                console.log(e);
                console.log("接口调用失败，请重试！");
            }
        });

	}

      //获取内容
      function getContentDetail(){
          $.ajax({
              type: "GET",
              url:  serverUrl+"/content/getContentDetail?contentId="+contentId,
              contentType: "application/json",
              success: function (data) {
                  console.log("call content/getContentDetail");
                  console.log(data);
                  if(data.status==200){	//调用成功
                      console.log("调用成功！");
                      console.log("接口数据："+data);
                      var title = data.data.title;
                      // var submitDate = data.data.submitDate;
                      var content = data.data.content;
                      var contentTypeId = data.data.contentTypeId;//分类编号
                      var contentClassId = data.data.contentClassId;//类别编号
                      editor.setValue(content);	//富文本编辑器内容填充
                      $("#title").val(title);	//标题
                      $("#selectType").val(contentTypeId);	//类别

					  //获取分类数据
                      $.ajax({
                          type: "GET",
                          url:  serverUrl+"/content/getClass?contentTypeId="+contentTypeId,
                          contentType: "application/json",
                          success: function (data) {
                              console.log("call content/getClass");
                              console.log(data);
                              if(data.status==200){	//调用成功
                                  console.log("调用成功！");
                                  console.log("接口数据长度："+data.data.length);
                                  var html = "";
                                  html += '<option value="-1">请选择</option>';
                                  for(var i = 0,len = data.data.length; i < len; i++){
                                      console.log(data.data[i]);
                                      var item = data.data[i];
                                      html += '<option value="'+item.contentClassId+'">'+item.contentClassName+'</option>';
                                  }
                                  document.getElementById("selectClass").innerHTML = html;
                                  $("#selectClass").val(contentClassId);//默认填充分类选中
                              }else{
                                  console.log(data.message);
                              }
                          },
                          error: function (e) {
                              console.log(e);
                              console.log("接口调用失败，请重试！");
                          }
                      });
                  }else{
                      console.log(data.message);
                  }
              },
              error: function (e) {
                  console.log(e);
                  console.log("接口调用失败，请重试！");
              }
          });
      }


	//提交内容
	  function submit() {

          var flag = true;

          var title = $('#title').val();
          var content = $('#editor').val();
          var selectType = $('#selectType').val();
          var selectClass = $('#selectClass').val();
          var userId = getUserId();

          var overview = removeTAG(content);	//概述
          if (overview.length > 40) {	//如果内容过长，则截取开头部分
              overview = overview.substr(0, 40) + "...";
          }

          console.log(content);
          content = encodeURI(content);	//将内容中的双引号进行转码，防止json拼接错误
          console.log(content);
          console.log(decodeURI(content));//使用此方法可以解码


          if (userId == null || userId == undefined || userId == '') {
              window.location.href = "login.html";
          }

          console.log(title);
          console.log(editor);
          console.log(selectType);
          console.log(selectClass);
          if (selectType == null || selectType == undefined || selectType == '' || selectType == -1) {
              flag = false;
              alert("请选择类型");
          }else   if (selectClass == null || selectClass == undefined || selectClass == '' || selectClass == -1) {
              flag = false;
              alert("请选择分类");
          }


          if (flag) {
          var jsonObject = '{';
          if(contentId != null && contentId != undefined && contentId != ''){//修改模式
              jsonObject += '"contentId":' + contentId + ',';
		  }
          jsonObject += '"title":"' + title + '"';
          jsonObject += ',"content":"' + content + '"';
          jsonObject += ',"overview":"' + overview + '"';
          jsonObject += ',"contentTypeId":' + selectType;
          jsonObject += ',"contentClassId":' + selectClass;
          jsonObject += ',"userId":' + userId;
          jsonObject += '}';
          console.log(jsonObject);

          $.ajax({
              type: "POST",
              url: serverUrl + "/content/editContent",
              contentType: "application/json",
              data: jsonObject,
              success: function (data) {
                  console.log("call content/editContent");
                  console.log(data);
                  if (data.status == 200) {	//调用成功
                      console.log("调用成功！");
                      alert("发布成功！");
                      //window.location.href='typeList.html';
                      goWebpage("main.html");
                  } else {
                      console.log(data.message);
                  }
              },
              error: function (e) {
                  console.log(e);
                  console.log("接口调用失败，请重试！");
              }
          });

      }else{
console.log("数据验证失败，本次无法提交！");
	}
	  }

//去除富文本编辑器中的标签，只保留文字内容
    function removeTAG(str){
        return str.replace(/<[^>]+>/g, "");
    }
  </script>
</html>
