<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

	<link media="all" rel="stylesheet" type="text/css" href="../../js/simditor/styles/font-awesome.css" />
    <link media="all" rel="stylesheet" type="text/css" href="../../js/simditor/styles/simditor.css" />


    	<script type="text/javascript" src="../../js/simditor/scripts/jquery.min.js"></script>
    	<script type="text/javascript" src="../../js/simditor/scripts/module.js"></script>
    	<script type="text/javascript" src="../../js/simditor/scripts/uploader.js"></script>
    	<script type="text/javascript" src="../../js/simditor/scripts/simditor.js"></script>
    	<style type="text/css">
    		.wrapper {
    		  width: 950px;
    		  margin: 0 auto;
    		}


			.title-box {
				margin-bottom: 24px;
				background-color: #efefef;
			}

			#title {
				display: inline-block;
				width: 92%;
				height: 40px;
				line-height: 40px;
				box-sizing: border-box;
				padding-left: 16px;
				border: none;
				background-color: #efefef;
				color: #4d4d4d;
			}
    	</style>
      </head>
 <body>
			<div class="wrapper">


				<div class="title-box">
					<input id="title" type="text"  maxlength="100" placeholder="输入文章标题">
					<span class="max-length"><span class="max-length-change">0</span>/100</span>
				</div>


				<br />
				<textarea id="editor" name="content" autofocus></textarea>
				<br />
				<button type="submit" class="btn btn-default" onclick="submit()">提交</button>
				<br />
				<br />
				<div class="alert alert-warning" role="alert">输入标题及内容，并对内容进行编辑。也可插入代码和上传本地图片 然后点击提交。</div>
			</div>
  </body>
  <script type="text/javascript">
  	$(function(){
  		toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
					'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',
					'link', 'image', 'hr', '|', 'indent', 'outdent' ];
		var editor = new Simditor( {
			textarea : $('#editor'),
			placeholder : '这里输入内容...',
			toolbar : toolbar,  //工具栏
			//defaultImage : '../../images/imgs.png', //编辑器插入图片时使用的默认图片
			upload : {
				url : '/file/upload', //文件上传的接口地址
			    params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
			    fileKey: 'fileDataFileName', //服务器端获取文件数据的参数名
			    connectionCount: 3,
			    leaveConfirm: '正在上传文件'
			}
		});
  	})

	//提交内容
	  function submit(){
		var title = $('#title').val();
		var editor = $('#editor').val();
		console.log(title);
        console.log(editor);
	  }
  </script>
</html>
