<!DOCTYPE html>
<!--管理系统首页,内容列表页-->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>后台首页</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script> <!--需要放前面，供后面的js-->
  <script type="text/javascript" src="../../js/common.js"></script>           <!-- 公共逻辑 -->
  <script type="text/javascript" src="../../js/admin/commonAdmin.js"></script>           <!-- 管理系统公共逻辑 -->

  <!-- easyui样式-->
  <link rel="stylesheet" type="text/css" href="../../module/easyui/css/easyui.css">  <!-- 组件显示样式 -->
  <link rel="stylesheet" type="text/css" href="../../module/easyui/css/icon.css">     <!-- 组件显式图标 -->
  <script type="text/javascript" src="../../module/easyui/js/jquery.easyui.min.js"></script>    <!--组件交互逻辑 -->
  <script type="text/javascript" src="../../module/easyui/js/esayui-extend.js"></script>   <!-- 组件扩展功能 -->
  <!-- easyui样式结束-->


</head>

<body id="mypannel" class="easyui-layout">

<div id="head" data-options="region:'north',border:false" style="height:80px;background:#C8E6F5;padding:10px;position:relative;"><!-- 头部视图 -->

  <h3 align="center">内容列表</h3>
  <label style="width:200px;height:20px;position:absolute;bottom:0;right: 120px"  >登录用户：<label id="username" style="width:100px;height:20px;position:absolute;bottom:0;right: 0px" >未知</label></label>
  <button style="width:80px;height:20px;position:absolute;bottom:0;right: 0;background-color:#f6ab00;color:#ffffff;font-weight:bold"  onclick="logout()" >退出</button>
</div>

<div data-options="region:'west',split:true,title:'内容类型'" style="width:150px;padding:10px;"><!-- 左侧视图 -->
  <div id="left-sidemenu"  ></div>
</div>

<div id="panel-center" data-options="region:'center',title:''"> <!-- 主体视图 -->
  <table id="datagrid" class="easyui-datagrid" title="内容列表" style="">
    <thead>
    <tr>
      <!--<th data-options="field:'ck',checkbox:true"></th> -->
      <th data-options="field:'title',width:80,align:'center'">标题</th>
      <th data-options="field:'contentTypeName',width:80,align:'center'">类型</th>
      <th data-options="field:'overview',width:500,align:'left'">概述</th>
      <th data-options="field:'submitDate',width:100,align:'center'">发布时间</th>
      <th data-options="field:'operation',width:100,align:'center',formatter:formatOper">操作</th>
    </tr>
    </thead>
  </table>

  <div id="tb" style="padding:2px 5px;">
    &nbsp;&nbsp;&nbsp;&nbsp;
    时间从: <input id="startDate" class="easyui-datebox" style="width:110px" data-options="formatter:myformatter,parser:myparser">
    到: <input id="endDate" class="easyui-datebox" style="width:110px" data-options="formatter:myformatter,parser:myparser">
    <div id="type" style="display:inline-block">
      &nbsp;&nbsp;&nbsp;&nbsp;
      类型:
       <select id="selectType" class="easyui-combobox" panelHeight="auto" style="width:100px" onchange="changeContentTyepe(this.options[this.options.selectedIndex].value)">
      	<option value="0">全部类型</option>
      	</select>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    分类:
    <select id="selectClass" class="easyui-combobox" panelHeight="auto" style="width:100px">
    <option value="0">全部分类</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;
    关键字:
    <input id="keyword" class="easyui-textbox" style="width:100px">
     &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="easyui-linkbutton" iconCls="icon-search" href="javascript:void(0);" onclick="searchData()">搜索</a>
  </div>

</div>


<script>
 // itemId= getUrlParams("itemId");
    // console.log("itemId="+itemId);

//获取用户名
var username = getUsername();
$("#username").text(username);

    			//初始化左侧菜单栏
                var leftMenuData = initLeftItemData();//初始化左侧菜单栏数据
                  //为左侧菜单创建选项数据（包括显示内容和宽度）
                $('#left-sidemenu').sidemenu({
                       data: leftMenuData,
                       onSelect:selectItem,
                       width: 150
                   });
                setItemSelected("11");//设置第一项为默认选中
    			getTypeAndClass();//获取下拉列表内容
                // getData(1,10,null,null,null,null,null);//获取列表内容

 //初始化表格
 $(function () {
     init_datagrid();
 });
 function init_datagrid() {
     //默认第一页，
     var pageNumber = 1;
     //每页显示10行
     var pageSize = 10;
     //表头字段
     // var arr_columns = dg_columns();
     //datagrid名称
     $("#datagrid").datagrid({
         url: serverUrl+"/content/getContentList",
         method: 'post',
         singleSelect: true,//是否单选
         remoteSort: true, //定义从服务器对数据进行排序。
         pagination: true, //在DataGrid控件底部显示分页工具栏。
         pagePosition : 'bottom',//分页组件显式位置
         pageNumber: pageNumber,//页号
         pageSize: pageSize,     //每页显示数目
         pageList: [10,20,50],   //每页显示数目可选项
         fit:true,
         fitColumns:true,
         rownumbers: true,       //行号
         loadMsg: '正在加载数据',
         checkbox: true,
         emptyMsg: '列表为空',
         selectOnCheck: false,
         checkOnSelect: false,
         toolbar:'#tb'         //工具栏
     });
 }



//搜索按钮点击事件(名称无法使用search,与其他命名冲突)
function searchData(){
    var startDate= $("#startDate").datebox("getValue");
    var endDate= $("#endDate").datebox("getValue");
    console.log("startDate="+startDate+";endDate="+endDate);
    var contentTypeId = $('#selectType').combobox('getValue');
    var contentClassId = $("#selectClass").combobox('getValue');
    console.log("contentTypeId="+contentTypeId+";contentClassId="+contentClassId);
    var keyword = $("#keyword").textbox('getValue');
    console.log("keyword="+keyword);

     getData(startDate,endDate,contentTypeId,contentClassId,keyword);
}

function getData(startDate,endDate,contentTypeId,contentClassId,keyword){
    var url = serverUrl+"/content/getContentList?1=1";
    if(startDate != null && startDate != undefined && startDate != ''){
        url+="&startDate="+startDate;
    }
    if(endDate != null && endDate != undefined && endDate != ''){
        url+="&endDate="+endDate;
    }
    if(contentTypeId != null && contentTypeId != undefined && contentTypeId != ''){
        url+="&contentTypeId="+contentTypeId;
    }
    if(contentClassId != null && contentClassId != undefined && contentClassId != ''){
        url+="&contentClassId="+contentClassId;
    }
    if(keyword != null && keyword != undefined && keyword != ''){
            url+="&keyword="+keyword;
   }
    console.log(url);
    $("#datagrid").datagrid({
        url: url,
        method: 'post',
        pageNumber: 1,
        pageSize: 10,
    });

    }

function getTypeAndClass(){
    //获取类别和分类选项列表
        $.ajax({
            type: "GET",
            url:  serverUrl+"/content/getType",
            contentType: "application/json",
            success: function (data) {
                console.log("call content/getType");
                console.log(data);
                if(data.status==200){	//调用成功
                    console.log("调用成功!");
                    console.log("接口数据长度:"+data.data.length);

                    var typeALLString  =
                         {
                             "contentTypeId" : 0,
                             "contentTypeName" : '全部类别'
                         }
                    data.data.unshift(typeALLString);   //在数组的开头插入数据
                    // console.log("修改后的数组为:");
                    // console.log(data.data);
                     /*为easyui-combobox动态添加数据*/
                            $('#selectType').combobox({
                                valueField : 'contentTypeId',
                                textField : 'contentTypeName',
                                data : data.data, /*这边的result格式要为标准的json格式,且有id和name两个键*/
                                //数据改变时
                                onChange:function(newValue,oldValue){
                                        if(newValue != ""){
                                        changeContentTyepe(newValue);   //更改二级下拉框内容
                                        }
                                        }
                                });

                }else{
                    console.log(data.message);
                }
            },
            error: function (e) {
                console.log(e);
                console.log("接口调用失败,请重试!");
            }
        });
}
      	//类别选择改变,重新获取分类列表
      	function changeContentTyepe(itemId){
      	    // alert(itemId);
            $.ajax({
                type: "GET",
                url:  serverUrl+"/content/getClass?contentTypeId="+itemId,
                contentType: "application/json",
                success: function (data) {
                    console.log("call content/getClass");
                    console.log(data);
                    if(data.status==200){	//调用成功
                        console.log("调用成功!");
                        console.log("接口数据长度:"+data.data.length);
                        var classALLString  =
                             {
                             "contentClassId" : 0,
                             "contentClassName" : '全部分类'
                            }
                         data.data.unshift(classALLString);   //在数组的开头插入数据
                          /*为easyui-combobox动态添加数据*/
                                                    $('#selectClass').combobox({
                                                        valueField : 'contentClassId',
                                                        textField : 'contentClassName',
                                                        data : data.data /*这边的result格式要为标准的json格式,且有id和name两个键*/
                                                        });

                    }else{
                        console.log(data.message);
                    }
                },
                error: function (e) {
                    console.log(e);
                    console.log("接口调用失败,请重试!");
                }
            });

    	}






    function addContent() {
        window.location.href="contentEdit.html";
    }



    function editContent(object) {
        window.location.href='contentEdit.html?contentId='+object;
    }

    function detailContent(object) {
        console.log(object);
        window.location.href='contentDetail.html?contentId='+object;
    }

    function deleteContent(object) {
        $.messager.confirm("", "确认删除吗？", function (r) {
            if (r) {
                $.messager.show({
                    title:'提示',
                    msg:'内容已删除',
                    timeout:500,
                    showType:'fade'
                });
            }
        });

    }
</script>
<script type="text/javascript"> //easyUI组件相关

//自定义表格项内容
    function formatOper(val,row,index){
        console.log(row.contentId); //内容编号
        console.log(index);         //显示位置，从0开始

        return '<a href="javascript:void(0)" onclick="detailContent(' + row.contentId
            + ')">查看</a>&nbsp;&nbsp;<a class="replayButton" href="javascript:void(0)" onclick="editContent(' + row.contentId
            + ')">编辑</a>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="deleteContent(' + row.contentId+')">删除</a>&nbsp;&nbsp;';

    }

    // function showContent(val,row,index){
    //     console.log("显示的内容:");
    //     console.log(val);
    //     console.log("该行获取的接口数据:");
    //     console.log(row);
    //     console.log("列号:");
    //     console.log(index);
    //     var showContent = '';
    //     // if (row.content.length > 40) row.content = row.content.substr(0, 40) + "...";
    //     showContent=showContent+'&nbsp;&nbsp;'+row.content+'<br/>';
    //     //showContent=showContent+'<img src="../../images/test.jpg" height="200" width="200"  />'
    //     showContent=showContent+'<br/>';
    //     return showContent;
    // }

  //底部分页控件
function pagerFilter(data){
    if (typeof data.length == 'number' && typeof data.splice == 'function'){	// is array
        data = {
            total: data.length,
            rows: data
        }
    }
    var dg = $(this);
    var opts = dg.datagrid('options');
    var pager = dg.datagrid('getPager');
    pager.pagination({
        onSelectPage:function(pageNum, pageSize){
            opts.pageNumber = pageNum;
            opts.pageSize = pageSize;
            pager.pagination('refresh',{
                pageNumber:pageNum,
                pageSize:pageSize
            });
            dg.datagrid('loadData',data);
        }
    });
    if (!data.originalRows){
        data.originalRows = (data.rows);
    }
    var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
    var end = start + parseInt(opts.pageSize);
    data.rows = (data.originalRows.slice(start, end));
    return data;
}

</script>
</body>
</html>