<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>后台首页</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

<div  >
		 <button id="addDictionary" type="button">添加技术字典</button>
</div>

<!-- scripts -->

<script type="text/javascript">
document.querySelector("#addDictionary").onclick = function(){
        					window.location.href="addContent.html";
        		}
</script>
</body>
</html>